@import "../node_modules/bulma/bulma.sass";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.content {
    font-family: 'Poppins', sans-serif;
}

.logo {
    font-weight: 600;
    font-size: 1.8rem;
}

.navbar {
    background: #F5F5DC;

    &-brand {
        a.navbar-item {
            color: black;
            &:hover {
                color: black;
                background: none;
            }
        }
    }
}

body {
    background: #F5F5DC;
}

.main-box {
    min-height: 20rem;
    transition: min-height 0.2s ease-in-out;
}